<h1 class="text-center mt-3">Hola Mundo</h1>

<label for="dropdown">Escoga una opcion</label>
<select #opcion  (change)="onOptionChange(opcion.value)">
  <option value="todo">Mostrar todo</option>
  <option value="dado">dado</option>
  <option value="dado2">dado2</option>
</select>


<!-- Muestra todo en caso de que sea mostrar todo -->
<div *ngFor="let imagen of imagenes">
  <div *ngIf="'todo' == seleccion">
    <img [src]="'../assets/img/' + imagen.imagen + '.png'" alt="{{ imagen.titulo }}" class="img-dice" [id]="imagen.id">
    <p class="fw-bold">{{imagen.titulo}}</p>
    <p>{{ imagen.descripcion }}</p>
    <button (click)="showId(imagen.id)">Show ID</button>
  </div>
  
</div>

<div *ngFor="let imagen of imagenes">
  <div *ngIf="imagen.category == seleccion">
    <img [src]="'../assets/img/' + imagen.imagen + '.png'" alt="{{ imagen.titulo }}" class="img-dice" [id]="imagen.id">
    <p class="fw-bold">{{imagen.titulo}}</p>
    <p>{{ imagen.descripcion }}</p>
    <button (click)="showId(imagen.id)">Show ID</button>
  </div>
  
</div>

<div class="container mt-5">
  <!-- Button to trigger the modal -->
  <button type="button" class="btn btn-primary" (click)="openModal()">
    Open Modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This is the content of the modal.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
